name: S3 Upload

on: push

jobs:
  upload:
    name: Use this action for check
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v2
      - name: Use this action
        uses: ./
        id: upload
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-1
          aws-bucket: ${{ secrets.AWS_BUCKET}}
          file-path: ./README.md
          # destination-dir:
          # bucket-root:
          output-file-url: true
          # content-type:
          output-qr-url: true
          # qr-width:
          # public:
          # expire:
      - name: Show result
        if: always()
        run: |
          echo '${{ steps.upload.outputs.result }}'
          echo '${{ steps.upload.outputs.file-url }}'
          echo '${{ steps.upload.outputs.qr-url }}'
